# Examples
example
images

# Configs
.gitignore
.gitattributes
.npmignore
yarn.lock

__tests__/

# android / iOS
build
!plugin/build

# Android/IntelliJ
.idea
.gradle
local.properties
*.iml

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# node.js
node_modules/
npm-debug.log
yarn-error.log
yarn.lock
package-lock.json
jest.config.js
babel.config.js

# Config plugin
plugin/src
plugin/tsconfig.json
